<h1>ついーと一覧</h1>
<%= link_to "つぶやいてみる", new_blog_path %>
<p><%= notice %></p>
<table>
  <tr>
    <th>ついーと</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.content %></td>

    <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
  </tr>
<% end %>
</table>